<!doctype html>
<html>

<head>
  {% block head %}
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}" type="image/x-icon"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <style>
      body {
        padding-top: 50px;
        font: 14px/1.8 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      
      .content {
        padding: 40px 15px;
      }
      
      .table {
        max-width: 30em;
      }
      
    </style>
  {% endblock %}
</head>

<body class = "d-flex min-vh-100 flex-column">

  <div class="navbar fixed-top navbar-dark bg-dark" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.title }}</a>
    </div>
  </div>

  <div class="container site-container">
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer class="site-footer pt-1 mt-auto mb-4 border-footer">
    <div class="container justify-content-between info">
      <div class="row">
        <div class="col">
          <h2 class="footer-heading"><a href="https://algoritmos-iii.github.io/" class="footer-link">Algoritmos III</a></h2>
          <p class="text-muted sub">Algoritmos III</p>
        </div>
        <div class="col">
          <p class="text-muted sub desc">Sitio web del curso Leveroni de Algoritmos y Programación 3 (7507/9502)</p>
        </div>
      </div>
  </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>
