{% extends "layout.html" %}

{% block title %}{{ config.title }} - WIP {% endblock %}

{% block content %}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">¡Paciencia! Aun estamos trabajando en esta página</h4>
    <p>Pronto vas a poder consultar tus notas con mayor facilidad.</p>
    <hr>
    <p class="mb-0">Ante cualquier inquietud, no dudes en consultar a nuestra <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=fiuba-algoritmos-iii-doc@googlegroups.com" target="_blank"> lista de docentes.</a></p>
</div>

{% endblock %}
